* {
    box-sizing: border-box;
}

body {
    margin: 0;
    color: #111;
    font: 300 12px/1 "Open Sans", sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}

input, textarea, button {
    outline: none;
    border: none;
}

textarea {
    resize: vertical;
}

button {
    cursor: pointer;
}

/* DEFAULT CLASSES STYLE START */
.border-top {
    border-top: 1px solid #ececec;
}

.grey-bg {
    background-color: #f8f8f8;
}

/* DEFAULT CLASSES STYLE END */

/* DEFAULT COMPONENT STYLE START */
.default-section {
    padding: 140px 0;
}

@media (max-width: 599px) {
    .default-section {
        padding: 100px 0;
    }
}

.small-section {
    padding: 70px 0;
}

.title {
    font-family: "Dosis", sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: .5em;
    margin-bottom: 75px;
}

.title.color-white {
    color: #fff;
}

.title.text-light {
    font-weight: 300;
    letter-spacing: .3em;
}

.box {
    height: 30px;
}

blockquote {
    padding: 0;
    margin: 0;
    border: none;
    font-size: 24px;
    color: #777;
    line-height: 1.6;
}

blockquote span {
    font-size: 11px;
    font-weight: 400;
}

.text-section {
    font-size: 15px;
    line-height: 1.73;
}

.btn:active:focus,
.btn:focus {
    outline: none;
}

.btn {
    letter-spacing: .2em;
    padding: 10px 40px;
    border: none;
    text-transform: uppercase;
    border-radius: 2px;
}

.btn .btn-default {
    background-color: rgba(255, 255, 255, .8);
}

.btn .btn-default:hover {
    background-color: rgba(255, 255, 255, .9);
}

.btn.btn-dark {
    background-color: #323232;
    color: #fff;
}

.btn.btn-dark:hover {
    background-color: #525252;
}

.form-group {
    margin-bottom: 10px;
}

.form-control {
    height: 40px;
    border-color: #dfdfdf;
    border-radius: 2px;
    font-size: 12px;
    color: #777;
    letter-spacing: .2em;
    text-transform: uppercase;
    box-shadow: none;
}

.form-control:focus {
    border-color: #bfbebe;
    box-shadow: none;
}

textarea.form-control {
    min-height: 90px;
    margin-bottom: 10px;
}

.navbar-toggle {
    margin: 0;
}

.navbar-toggle .icon-bar {
    background-color: #fff;
}

.fa.fa-info-circle {
    padding-right: 3px;
    color: #aaa;
    font-size: 11px;
}

/* DEFAULT COMPONENT STYLE END */

/* HEADER STYLE START */

.header {
    padding: 25px;
    position: fixed;
    top: 0;
    left: 0;
    line-height: 21px;
    width: 100%;
    background: #131313;
    z-index: 9999;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
}

.logo {
    float: left;
}

.header-nav {
    color: rgba(254, 254, 254, 0.9);
    float: right;
}

.header-nav li {
    display: inline-block;
    font-size: 11px;
    letter-spacing: .3em;
    text-transform: uppercase;
}

.header-nav li + li {
    padding-left: 30px;
}

@media (max-width: 767px) {
    .header-nav {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #000;
        padding: 20px 0;
    }

    .header-nav li {
        display: block;
        text-align: right;
        padding: 10px 15px;
    }

    .container-fluid > .navbar-collapse {
        margin: 0;
    }

    .header-nav li + li {
        margin-left: 0;
    }
}

/* HEADER STYLE END */

/* MAIN STYLE END */

.inner {
    background: url("../img/inner-bg.jpg") no-repeat center / cover;
    height: 100vh;
    text-align: center;
    position: relative;
}

.inner:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-left: -4px;
}

.inner-content {
    display: inline-block;
    vertical-align: middle;
}

.inner-content h6 {
    color: rgba(254, 254, 254, 0.9);
    font-family: "Dosis", sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 1.7em;
    margin-left: 1.7em;
}

.inner-content span {
    color: rgba(254, 254, 254, 0.2);
    display: block;
    font-size: 19px;
    margin-top: 95px;
}

.inner .nav-down {
    position: absolute;
    height: 20px;
    width: 20px;
    display: block;
    background-color: #fff;
    text-align: center;
    line-height: 20px;
    border-radius: 2px;
    transform: translateX(-50%) rotate(45deg);
    color: #222;
    font-size: 15px;
    left: 50%;
    bottom: 40px;
}

.inner .nav-down i {
    transform: rotate(-45deg);
    padding-top: 6px;
}

@media (max-width: 1199px) {
    .inner {
        height: auto;
        padding-top: 200px;
        padding-bottom: 200px;
    }
}

@media (max-width: 991px) {
    .inner-content h6 {
        font-size: 22px;
        margin-bottom: 50px;
    }
}

@media (max-width: 767px) {
    .inner-content h6 {
        letter-spacing: 1em;
        margin-left: 1em;
    }
}

@media (max-width: 559px) {
    .inner-content h6 {
        letter-spacing: .8em;
        margin-left: .8em;
    }
}

@media (max-width: 449px) {
    .inner {
        padding-bottom: 175px;
    }

    .inner-content span {
        margin: 60px 10px 0 10px;
    }

    .inner-content h6 {
        letter-spacing: .5em;
        margin-left: .5em;
    }
}

/* ========= ABOUT US Section Start ============ */
.our-team {
    margin-top: 100px;
}

.team-item-img {
    position: relative;
}

.team-item-info {
    padding: 25px 5px 0;
    font-family: "Dosis", sans-serif;
    color: #777;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: .4em;
}

.team-item-info span {
    display: block;
}

.team-item-info span.team-item-name {
    font-size: 15px;
    margin-bottom: 12px;
}

.team-item-info span.team-item-role {
    font-size: 12px;
}

.team-item-skills {
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: grey;
    transition: all .3s linear;
}

.team-item-img:hover .team-item-skills {
    opacity: 1;
}

@media (max-width: 767px) {
    .text-section p {
        padding-bottom: 15px;
    }

    .text-section blockquote p {
        padding: 0;
    }

    .text-section blockquote {
        padding-bottom: 15px;
    }

    .our-team {
        margin-top: 25px;
    }

    .team-item-info {
        padding-top: 15px;
        padding-bottom: 25px;
    }

    .team-item-img {
        text-align: center;
    }

    .team-item-skills {
        margin: 0 auto;
        width: 370px;
    }
}

@media (max-width: 399px) {
    .team-item-skills {
        margin: 0 auto;
        width: 100%;
    }
}
/* ========= ABOUT US Section End ============ */

/*========= SERVICES Section START =========*/
.nav-tabs {
    border: none;
}

.service-tabs .nav-tabs > li {
    width: 20%;
    text-align: center;
}

.nav-tabs > li > a,
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover,
.nav-tabs > li > a:hover {
    padding: 0;
    margin: 0;
    border: none;
    opacity: .6;
    background-color: transparent;
    color: #111;
}

.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a,
.nav-tabs > li > a:hover,
.nav-tabs > li.active > a:focus {
    opacity: 1;
}

.nav-tabs li .tablist-title {
    font-family: "Dosis", sans-serif;
    font-variant: small-caps;
    font-weight: 400;
    display: block;
    font-size: 14px;
    letter-spacing: .4em;
    text-transform: uppercase;
    margin-top: 35px;
}

.service-tabs .nav-tabs li .icon {
    font-size: 48px;
}

.tab-content .tab-pane {
    padding-top: 70px;
}

@media (max-width: 991px) {
    .nav-tabs li .tablist-title {
        letter-spacing: .1em;
        margin-top: 22px;
    }

    .tab-content .tab-pane {
        padding-top: 50px;
    }
}

@media (max-width: 599px) {
    .service-tabs .nav-tabs > li {
        width: 33.3%;
        margin-bottom: 15px;
    }
}

@media (max-width: 449px) {
    .nav-tabs li .tablist-title {
        font-size: 12px;
    }
}
/*========= SERVICES Section END =========*/

/*========= LETS TALK Section START =========*/
.lets-talk {
    background: url("../img/lets-talk-bg.png") no-repeat center / cover;
}

.lets-talk-content {
    margin: 140px 0;
}

.lets-talk-content .title {
    margin-bottom: 22px;
}

.lets-talk-content p {
    color: rgba(255, 255, 255, .7);
    font-size: 15px;
    line-height: 1.73;
    margin-bottom: 40px;
}

.lets-talk-img {
    margin-top: -32px;
}
/*========= LETS TALK Section END =========*/

/* ========= PORTFOLIO Section START ============ */
.portfolio {
    padding-bottom: 0;
}

.portfolio .title {
    margin-bottom: 75px;
}

.portfolio p {
    font-size: 15px;
    max-width: 760px;
    text-align: center;
    margin: 0 auto 80px auto;
    color: #777;
    line-height: 1.73;
}

.portfolio-tabs .nav-tabs {
    text-align: center;
    margin-bottom: 50px;
}

.portfolio-tabs .nav-tabs > li {
    float: none;
    display: inline-block;
}

.portfolio-tabs .nav-tabs li + li {
    padding-left: 65px;
}

.portfolio-tabs .nav-tabs .tablist-title {
    font-size: 13px;
    text-align: center;
}

.portfolio-tabs .picture-section {
    overflow: hidden;
    margin: 0 4px 0 -3px;
}

.portfolio-tabs .tab-content .img-item {
    float: left;
    width: 33.333%;
    padding-bottom: 7px;
    padding-left: 7px;
}

@media (max-width: 767px) {
    .portfolio-tabs .nav-tabs {
        margin-bottom: 0;
    }
}

@media (max-width: 599px) {
    .portfolio p {
        padding: 0 15px;
        margin-bottom: 40px;
    }

    .portfolio .title {
        margin-bottom: 50px;
    }

    .portfolio-tabs .nav-tabs > li {
        width: 50%;
    }

    .portfolio-tabs .nav-tabs li + li {
        padding-left: 0;
    }

    .portfolio-tabs .nav-tabs .tablist-title {
        font-size: 15px;
        letter-spacing: 0.3em;
    }
}
/* ========= PORTFOLIO Section END ============ */

/* ========= LIKE-OUR-CREATIVE-WORKS Section START ============ */
.start-project {
    background-color: #000;
}

.start-project .title {
    font-variant: small-caps;
    margin-bottom: 25px;
}

.start-project button {
    color: #111;
    background-color: #cfcfcf;
    font-variant: small-caps;
}
/* ========= LIKE-OUR-CREATIVE-WORKS Section END ============ */

/* ========= WHY CHOOSE US Section START ============ */
.why-choose-us {
    padding-bottom: 60px;
}

.why-choose-us .title {
    margin-bottom: 85px;
}

.feature-item {
    margin-bottom: 85px;
}

.feature-item .icon-item {
    font-size: 48px;
}

.feature-item .icon-title {
    display: block;
    font-family: "Dosis", sans-serif;
    font-size: 14px;
    letter-spacing: .4em;
    text-transform: uppercase;
    line-height: 1.85;
    margin: 35px;
}

.feature-description {
    color: #777;
    font-size: 14px;
    line-height: 1.85;
    text-align: left;
}

@media (max-width: 767px) {
    .feature-item {
        margin-bottom: 15px;
    }
}

/* ========= WHY CHOOSE US Section END ============ */

/* ========= REVIEWS Section START ============ */
.reviews {
    background-color: #000;
    overflow: hidden;
}

.reviews .carousel-caption {
    position: static;
}

.reviews .carousel-caption .title {
    margin-bottom: 40px;
}

.reviews .carousel-caption p {
    font-size: 18px;
    line-height: 1.6666;
    max-width: 750px;
    margin: 0 auto 20px auto;
    color: rgba(255, 255, 255, .75);
}

.reviews .carousel-caption > span {
    font-size: 11px;
    color: rgba(255, 255, 255, .3);
    text-transform: uppercase;
    letter-spacing: .2em;
}

.icon-wrap {
    text-align: center;
    margin-bottom: 20px;
}

.icon-wrap span {
    font-size: 32px;
}

.carousel-indicators li {
    width: 9px;
    height: 9px;
    background-color: rgba(255, 255, 255, .8);
    border: 2px solid transparent;
}

.carousel-indicators .active {
    background-color: transparent;
    border-color: rgba(255, 255, 255, .8);
}

.carousel-control {
    background: none;
    opacity: 0;
    width: 85px;
    transition: opacity .1s linear, transform .2s linear .1s;
    transform: translateX(-10px);
}

.carousel-control.right {
    transform: translateX(10px);
}

.carousel-control::before {
    content: '';
    display: block;
    position: absolute;
    width: 85px;
    height: 85px;
    background-color: #fff;
    top: 50%;
    left: -50%;
    transform: translateY(-50%) rotate(45deg);
}

.carousel-control.right::before {
    left: auto;
    right: -50%;
}

.reviews:hover .carousel-control {
    opacity: 1;
    transform: translateX(0);
}

.carousel-control i.fa {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #222;
    left: 20px;
}

.carousel-control.right i.fa {
    left: auto;
    right: 20px;
}

@media (min-width: 600px) {
    .carousel-indicators {
        bottom: -45%;
    }
}

@media (max-width: 599px) {
    .carousel-indicators {
        bottom: -25%;
    }
}

@media (max-width: 450px) {
    .carousel-indicators {
        bottom: -16%;
    }
}

@media (max-width: 991px) {
    .reviews .carousel-caption p {
        margin: 0 100px 20px 100px;
    }
}

@media (max-width: 449px) {
    .reviews .carousel-caption p {
        margin: 0 70px 20px 70px;
    }

    .icon-wrap span {
        font-size: 28px;
    }

    .reviews .carousel-caption .title {
        font-size: 16px;
    }

    .reviews .carousel-caption p {
        font-size: 14px;
    }
}
/* ========= REVIEWS Section END ============ */

/* ========= LATEST NEWS Section START ============ */
/* could be optimized */
.latest-news {
    font-family: "Dosis", sans-serif;
    color: #777;
}

.latest-news .title {
    float: left;
    color: #111;
}

.latest-news .all-news-link {
    float: right;
}

.all-news-link .fa {
    font-size: 12px;
}

.latest-news .news-section {
    clear: both;
}

.latest-news .news-link {
    font-family: "Dosis", sans-serif;
    font-size: 15px;
    letter-spacing: .2em;
    text-transform: uppercase;
    padding-top: 30px;
    padding-bottom: 10px;
    font-weight: 400;
    font-variant: small-caps;
}

.latest-news .news-note {
    font-size: 11px;
    letter-spacing: .4em;
    text-transform: uppercase;
    color: #999;
    font-variant: small-caps;
}

.latest-news .news-section p {
    font: 300 15px/1.73 "Open Sans", sans-serif;
    padding-top: 20px;
    padding-bottom: 25px;
}

.latest-news .news-section .btn {
    padding: 0 15px;
    font: 400 11px/2.36 "Open Sans", sans-serif;
    letter-spacing: .2em;
    background-color: #e5e5e5;
}

.latest-news .news-section .btn:hover {
    background-color: #c7c7c7;
}

.latest-news .news-section button .fa {
    padding-left: 10px;
}

@media (max-width: 991px) {
    .latest-news .news-section .btn {
        margin-bottom: 25px;
    }
}

@media (max-width: 767px) {
    .latest-news .news-section {
        text-align: center;
    }

    .latest-news .news-section p {
        padding-bottom: 10px;
    }
}

@media (max-width: 599px) {
    .latest-news .news-note {
        letter-spacing: .2em;
    }
}

@media (max-width: 449px) {
    .latest-news .title {
        margin-bottom: 0;
    }

    .latest-news .news-note {
        margin: 40px 0;
    }
}
/* ========= LATEST NEWS Section END ============ */

/* ========= SUBSCRIBE Section START ============ */
.subscribe .title {
    margin-bottom: 15px;
}

.form-inline {
    margin-bottom: 17px;
}

/* input[type="text"], input[name="userEmail"] */
.subscribe input[name="userEmail"] {
    width: 293px;
}

.subscribe .form-group {
    margin-right: 3px;
}

.subscribe .container span {
    color: #aaa;
    font-size: 11px;
}

@media (max-width: 767px) {
    .subscribe .form-control {
        display: inline-block;
    }
}

@media (max-width: 599px) {
    .subscribe input[name="userEmail"] {
        width: 100%;
        display: block;
        margin: 0 auto 10px auto;
    }
}

@media (max-width: 449px) {
    .title.text-light {
        letter-spacing: .1em;
    }
}
/* ========= SUBSCRIBE Section END ============ */

/* ========= CONTACT Section START ============ */
.contact-item {
    margin-bottom: 80px;
    padding-top: 8px;
}

.contact-item-icon {
    width: 29px;
    height: 29px;
    background-color: #000;
    float: left;
    color: #fff;
    font-size: 14px;
    text-align: center;
    line-height: 29px;
    transform: rotate(45deg);
    margin-right: 20px;
    border-radius: 3px;
}

.contact-item-icon i {
    transform: rotate(-45deg);
}

.contact-item-content {
    font-size: 15px;
    color: #444;
}

.contact-item-content .contact-title {
    font-family: "Dosis", sans-serif;
    font-weight: 400;
    letter-spacing: .3em;
    display: block;
    text-transform: uppercase;
    font-size: 12px;
    color: #777;
    font-variant: small-caps;
    margin-top: -8px;
    padding-bottom: 13px;
}

.contact-us form {
    margin: 0 -5px;
}

.form-col {
    width: 50%;
    padding: 0 5px;
    float: left;
    color: #aaa;
    font-size: 11px;
}

.form-submit {
    clear: both;
}

@media (max-width: 767px) {
    .contact-item {
        margin: 0 auto 40px 10px;
    }

    .form-col {
        width: 100%;
    }
}

@media (max-width: 599px) {
    .contact-item {
        margin: 0 auto 30px 10px;
    }

    .contact-us .less-block-size {
        width: 100%;
    }
}

@media (max-width: 449px) {
    .contact-us .form-submit button[type="submit"] {
        margin-top: 15px;
    }

    .contact-us .form-submit .btn-submit {
        text-align: center;
    }
}
/* ========= CONTACT News Section END ============ */

/* ========= MAP Section START ============ */
.map {
    position: relative;
    overflow: hidden;
}

.map iframe {
    width: 100%;
    height: 410px;
}

.on-map-block {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .9);
    transition: all .3s linear;
}

.on-map-block .on-map-content {
    position: absolute;
    text-align: center;
    font-family: "Dosis", sans-serif;
    color: #fff;
    font-size: 16px;
    letter-spacing: .3em;
    text-transform: uppercase;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.on-map-content span {
    display: block;
}

.on-map-content .map-icon {
    font-size: 14px;
    background-color: #fff;
    width: 26px;
    height: 26px;
    line-height: 21px;
    transform: rotate(45deg);
    color: #222;
    margin: 0 auto 30px auto;
    border-radius: 2px;
}

.on-map-content .map-icon i {
    transform: rotate(-45deg);
    padding-top: 5px;
}

.on-map-block .open-the-map {
    opacity: .75;
}

.on-map-block .open-the-map i {
    padding-left: 5px;
}

.map:hover .on-map-block {
    transform: translateY(100%);
    opacity: 0;
}
/* ========= MAP Section END ============ */

/* MAIN STYLE END */

/* FOOTER STYLE START */
.footer {
    text-align: center;
    padding-bottom: 0;
    overflow: hidden;
}

.footer .social-nav {
    font-size: 14px;
    margin-top: 25px;
}

.footer .social-nav li {
    display: inline-block;
    height: 23px;
    width: 23px;
    line-height: 20px;
    border: 1px solid #000;
    border-radius: 2px;
    transform: rotate(45deg);
}

.footer .social-nav li + li {
    margin-left: 20px;
}

.footer .social-nav li i {
    transform: rotate(-45deg);
}

.footer .social-nav li:hover {
    border-color: #666;
    color: #666;
}

.footer .footer-text {
    margin-top: 110px;
}

.footer-text span {
    display: block;
    color: #999;
    font-size: 11px;
    font-weight: 400;
}

.footer .footer-text .footer-company {
    font-family: "Dosis", sans-serif;
    font-size: 12px;
    line-height: 2;
    letter-spacing: .5em;
    text-transform: uppercase;
    color: #111;
}

.footer .nav-up {
    color: rgba(0, 0, 0, .2);
    display: block;
    font-size: 30px;
    float: right;
    margin: 15px 30px 30px 0;
}

.footer .nav-up:hover {
    color: rgba(0, 0, 0, .5);
}
/* FOOTER STYLE END */